# Dependencies
node_modules/

# Generated Reports
reports/*
!reports/.gitkeep

# Logs
logs.txt
*.log

# Environment Variables
.env

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp
*.temp

# Coverage
coverage/